.addSecu{
  align-items: center;
  background: white;
  border-radius:5px;
  color: #348AA7;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 2rem;
  width: 90%;
}
.addSecu a{
  background: #BE9B07;
  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.6rem;
  text-decoration: none;
  width:150px;
}
.addSecu fieldset{
  width: 80%;
}
.addSecu input{
  border:1px solid #BE9B07;
  margin-top:5px;
  outline:none;
  cursor: pointer;
}
.addSecu label, .addSecu input{
  color: #BE9B07;
}
.addSecu span{
  color: #348AA7;
  font-weight: bold;
}
.forbidden{
  background: #BE9B07;
  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.6rem;
  text-decoration: none;
}
