.analyse{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
}
.refund {
  width: 90%;
}
#titreNotif{
  align-items: center;
  background-color:#348AA7;
  color:white;
  display: flex;
  font-size:20px;
  font-weight:bolder;
  height:35px;
  justify-content: flex-start;
  padding-left:10px;
  
}
