.form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

.form h1 {
  text-align: center;
}

.form .formData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.form .formData label {
  display: inline-block;
  width: 110px;
  margin-right: 10px;
  text-align: center;
}

.form .formData input:not([type="submit"]) {
  flex-grow: 1;
  border-radius: 5px;
}

fieldset {
  border-radius: 5px;
}

span {
  color: red;
}
.form{
  margin: auto;
}
.formTitle{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.formTitle .bigLogo{
  width: 20%;
}