.form {
  align-items: center;
  background:white;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom:15px;
  text-align: left;
  width: 80%;
}
.formTitle{
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.bigLogo{
  width: 20%;
}
.form form{
  width:100%;
}
.form h1 {
  text-align: center;
}
.form .formData {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  width:100%;
}
.form .formData label {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  width: 110px;
}
.form .formData input:not([type="submit"]), textarea {
  border-radius: 5px;
  flex-grow: 1;
}
fieldset {
  border-radius: 1px;
}
span {
  color: red;
}
.form form{
  align-items: center;
  background:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form input{
  border:none;
  height: 100%;
  outline:none;
  width:100%;
}
.form fieldset{
  border:1px solid #BE9B07;
  padding-bottom:0;
  padding-left:0;
  padding-right:6px;
  padding-top:0;
  width:100%;
}
#btnEnvoyer{
  background:#BE9B07;
  border-radius:5px;
  color:white;
  height:30px;
  width:30%;
}
#titreForm{
  font-weight: bolder;
}
.form legend{
  font-size:12px;
}
#pObligatoire{
  font-size:12px;
  text-align:right;
}
#pointChargement{
  color:#BE9B07;
  display: flex;
  font-size:50px;
  justify-content: center;
  margin:0;
  padding:0;
}
#spanChargement{
  color:#e2e4e8;
}
#connaissance{
  display:flex;
  justify-content: center;
}
#flechegold{
  margin-right:20px;
}

@media (max-width: 600px) {
  .form {
    background:white;
    margin: 0 auto;
    text-align: left;
    width: 90%;
  }
  .form fieldset{
    border:1px solid #707070;
    padding-bottom:0;
    padding-left:0;
    padding-right:6px;
    padding-top:0;
    width:80%;
  }
  .form h1{
    text-align: center;
    padding-top:10px;
  }
}
