.login {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
}
.bigLogo{
  width: 20vh;
}
.login h1{
  font-weight: bold;
  color: #4472C4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.login p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.why{
  width: 90%;
  border-radius: 5px 5px 0 0;
  background: white;
  font-size: x-large;
  }
.info{
  color: #4472C4;
  width: 90%;
  background: #dff0ff;
}
.info span{
  color: #4472C4;
  font-weight: bold;
}
.bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4472C4;
  font-weight: bold;
  background: white;
  width: 90%;
  padding-bottom: 2rem;
  border-radius: 0 0 5px 5px;
  margin-bottom: 2rem;
}
.bottom a{
  text-decoration: none;
  color: #ffffff;
  background: #4472C4;
  padding: 0.6rem;
  border-radius: 0.6rem;
}
.connexion button{
  border: none;
  color: #ffffff;
  background: #4472C4;
  padding: 0.6rem;
  border-radius: 0.6rem;
  cursor: pointer;
  margin: 1rem;
}
.line{
  border-radius: 5px;
  border-top: 3px solid #BE9B07;
  border-bottom: 3px solid #BE9B07;
  margin: 2rem 0 2rem 0;
  width: 70%;
}
.subscribe a{
  font-weight: bolder;
  text-decoration: none;
  color: #ffffff;
  background: #4472C4;
  padding: 0.6rem;
  border-radius: 0.6rem;
}
.subscribe{
  margin-bottom: 1rem;
}