.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-top: 1rem;
  width: 90%;
}
.bigLogo{
  width: 20vh;
}
.login h1{
  font-weight: bold;
  color: #4472C4;
}
.login input{
  border:1px solid #BE9B07;
  outline:none;
}
.why{
  font-size: x-large;
  background: white;
  border-radius: 5px 5px 0 0;
  width: 90%;
  }
.info{
  background: #dff0ff;
  color: #4472C4;
  width: 90%;
}
.info span{
  color: #4472C4;
  font-weight: bold;
}
.bottom{
  align-items: center;
  background: white;
  border-radius: 0 0 5px 5px;
  color: #4472C4;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  width: 90%;
}
.bottom a{
  background: #4472C4;
  border-radius: 0.6rem;
  color: #ffffff;
  padding: 0.6rem;
  text-decoration: none;
}
.straight{
  margin-top: 3rem;
  width: 85%;
  border: 3px solid #BE9B07;
  border-radius: 3px;
}
  .connexion button{
  margin: 1rem;
  border: none;
  color: #ffffff;
  background: #4472C4;
  padding: 0.6rem;
  border-radius: 0.6rem;
  cursor: pointer;
  margin: 1rem;
}
.line{
  border-radius: 5px;
  border-top: 3px solid #BE9B07;
  border-bottom: 3px solid #BE9B07;
  margin: 2rem 0 2rem 0;
  width: 70%;
}
.subscribe a{
  background: #4472C4;
  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: bolder;
  padding: 0.6rem;
  text-decoration: none;
}
.connect p, .connect a{
  color: #BE9B07;
}
.subscribe{
  margin-bottom: 1rem;
}
