#bodyTable{
  background: white;
}
#headTable{
  background:#f5f7f7;
}
.message{
  width:90%;
}
.message table,td,th{
  font-size: normal;
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}
.infoNbMessage {
  font-size: 20px;
}