.NotifBody {
  /* background-color: white;
  opacity: 0.8; */
  width: 80%;
  height: auto;
}

.NotifNumber {
  padding : 5px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: bold;
}

.StarNText {
  list-style-type: none;
  font-size: large;
  width: 200px;
}

.Star {
  font-size: 30px ;
}

.TextLegend {
  font-size: 15px;
  margin: 0px;
}

.Vignette {
  font-size: xx-large;
  margin-right: 50px;
}

.LegendRaw {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding : 5px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.NotifHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NotifList {
  border: 2px solid darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: auto;
  background-color: white;
}

table, tr,td, th {
  border: 1px solid black;
  font-size: small;
}

table {
  width: 98%;
  border-collapse: collapse;
}

.NotifListHeader {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}