.containerNotif :hover {
  background-color: rgb(241, 241, 241);
}
.dateRemboursement {
  color : grey;
  margin: auto;
  text-align: right; 
}
.legendRaw {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-right: 10%;
  padding : 5px;
  width: 100%;
}
.nameInsured{
  color:black;
  font-size: large;
  font-size:30px;
  font-weight: bold;
  margin: 0;
  padding-left: 90px;
  position: relative;
  text-align: left;
}
.notifBody{
  width: 90%;
}
.notifList {
  background-color: white;
  border-left: 6px solid green;
  display: flex;
  flex-direction: raw;
  height: 20px;
  justify-content: center;
  padding: 10px;
  width: auto;
}
.notifListHeader {
  list-style-type: none;
  padding: 0px;
  width: 100%;
}
.notifMap{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.notifNumber {
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: auto;
  padding : 5px;
  width: 90%;
}
.starGreen {
  align-items: center;
  background-color: rgb(38, 197, 38);
  height : 30px;
  padding: 0px;
  width: 10px;
}
.starNText {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.starRed {
  align-items: center;
  background-color: rgb(212, 20, 20);
  height : 30px;
  padding: 0px;
  width: 10px;
}
.starYellow {
  align-items: center;
  background-color: rgb(248, 143, 6);
  height : 30px;
  padding: 0px;
  width: 10px;
}
.textLegend {
  font-size: 15px;
  padding:0 5px 0 5px;
  margin: 0px;
}
table {
  border-collapse: collapse;
  width: 98%;
}
table, tr, td, th {
  border: 1px solid #003049;
  font-size: small;
}
th {
  background-color: #348AA7;
  border: 1px solid white;
  color: white;
}
#titreNotif{
  align-items: center;
  background-color:#348AA7;
  color:white;
  display: flex;
  font-size:20px;
  font-weight:bolder;
  height:35px;
  justify-content: flex-start;
  padding-left:10px;
}
.vignette {
  font-size: xx-large;
  margin-right: 50px;
}

@media (max-width: 600px) {
  .starGreen {
    height : 10px;
    padding: 0px;
    width: 100%;
  }
  .starNText {
    flex-direction: column;
  }
  .starRed {
    height : 10px;
    padding: 0px;
    width: 100%;
  }
  .starYellow {
    height : 10px;
    padding: 0px;
    width: 100%;
  }
  .textLegend {
    font-size: 12px;
    padding:1px;
  }
}
