.containerNotif :hover {
  background-color: rgb(241, 241, 241);
}
.dateRemboursement {
  color : grey;
  margin: auto;
  text-align: right; 
}
.legendRaw {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10%;
  padding : 5px;
  width: 100%;
}
.notifBody{
  width: 90%;
}
.notifList {
  background-color: white;
  border-left: 6px solid green;
  display: flex;
  flex-direction: raw;
  height: 20px;
  justify-content: center;
  padding: 10px;
  width: auto;
}
.notifListHeader {
  list-style-type: none;
  padding: 0px;
  width: 100%;
}
.notifMap{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.notifNumber {
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: auto;
  padding : 5px;
  width: 90%;
}
.starGreen {
  align-items: center;
  background-color: rgb(38, 197, 38);
  display: flex;
  height : 50px;
  margin: 10px;
  padding: 0px;
  width: 10px;
}
.starGreen:hover {
  transition: width ease-in 0.5s ;
  width: 50px;
}
.starNText {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px;
  width: 20%;
 }
.starRed {
  align-items: center;
  background-color: rgb(212, 20, 20);
  display: flex;
  height : 50px;
  margin: 10px;
  padding: 0px;
  width: 10px;
}
.starRed:hover {
  transition: width ease-in 0.5s ;
  width: 50px;
}
.starYellow {
  align-items: center;
  background-color: rgb(248, 143, 6);
  display: flex;
  height : 50px;
  margin: 10px;
  padding: 0px;
  width: 10px;
}
.starYellow:hover {
  transition: width ease-in 0.5s ;
  width: 50px;
}
.textLegend {
  align-items: center;
  display: flex;
  font-size: 15px;
  margin: 0px;
  position: absolute;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 98%;
}
table, tr, td, th {
  border: 1px solid #003049;
  font-size: small;
}
th {
  background-color: #003049;
  border: 1px solid white;
  color: white;
}
#titreNotif{
  align-items: center;
  background-color:#0C75B7;
  color:white;
  display: flex;
  font-size:20px;
  font-weight:bolder;
  height:35px;
  justify-content: flex-start;
  padding-left:10px;
}
.vignette {
  font-size: xx-large;
  margin-right: 50px;
}
