.affichageCompte{
  border-bottom:1px solid #348AA7;
  padding:15px;
}
.blueTrash{
  cursor: pointer;
  height:20px;
}
#btnAddAccount{
  align-items: center;
  background:#348AA7;
  border:none;
  border-radius: 3px;
  color:white;
  cursor: pointer;
  height: 25px;
  margin-left:5px;
  outline:none;
}
#btnSupprimer{
  align-items: center;
  background:#348AA7;
  border:none;
  border-radius: 3px;
  color:white;
  cursor: pointer;
  height: 25px;
  margin:5px;
  outline:none;
}
.compteAssure{
  align-items: center;
  border:1px solid #348AA7;
  border-radius:5px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
  padding:5px;
  width: 40%;
}
.divParams{
  background-color: white;
  border-radius:5px;
  margin-bottom:20px;
  padding:15px;
}
.divVosCompte{
  display: flex;
  flex-direction: row;
  width:100%;
}
#imgTrash{
  height: 12px;
  margin-right:5px;
  margin-top:5px;
}
.listeParams{
  display: flex;
  list-style: none;
}
.listeParams li{
  margin-right: 10px;
}
.paramsBody{
  width: 90%;
}
#titreAfficheCompte{
font-size:30px;
font-weight: bold;
text-align: left; 
}
#titreSupprimerCompte{
  font-size:30px;
  font-weight: bold;
  text-align: left; 
  padding-left:15px;
}
.vosComptes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
