.thanks{
  align-items: center;
  background: white;
  border-radius:5px;
  color: #348AA7;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 2rem;
  width: 90%;
}
.thanks a{
  background: #BE9B07;
  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: bold;
  padding: 0.6rem;
  text-decoration: none;
}
.thanks span{
  color: #348AA7;
  font-weight: bold;
}
