.thanks{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4472C4;
  background: white;
  width: 90%;
  padding-bottom: 2rem;
  border-radius:5px;
  margin: auto;
}
.thanks span{
  color: #4472C4;
  font-weight: bold;
}
.thanks a{
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background: #BE9B07;
  padding: 0.6rem;
  border-radius: 0.6rem;
}