.forbidden{
  background: #BE9B07;
  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.6rem;
  text-decoration: none;
  width: 150px;
}
.gold{
  color: #BE9B07;
  text-decoration: underline;
}
.validateSecu{
  align-items: center;
  background: white;
  border-radius:5px;
  color: #348AA7;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 2rem;
  width: 90%;
}
.validateSecu a{
  color: #ffffff;
  background: #BE9B07;
  border-radius: 0.6rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.6rem;
  text-decoration: none;
  width: 150px;
}
.validateSecu input{
  border:1px solid #BE9B07;
  outline: none;
}
.validateSecu span{
  color: #348AA7;
  font-weight: bold;
}
