.profil{
  border-radius: 50%;
  box-shadow: 0 0 2px #BE9B07;
  width: 15%;
}
.waiting{
  align-items: center;
  background: white;
  border-radius:5px;
  color: #348AA7;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 2rem;
  width: 90%;
}
.waiting a{
  background: #BE9B07;
  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.6rem;
  text-decoration: none;
  width: 150px;
}
.waiting span{
  color: #348AA7;
  font-weight: bold;
}
