  .burger{
    display: flex;
    flex-direction: column;
    background: #4472C4;
    position: fixed;
    height: 100%;
    margin:0;
    width:50%;
    font-size:5vw;
    justify-content: center;
    align-items:center;
    align-self: flex-end;
    z-index: 99;
  } 

  .burgerBar,
  .burgerBar::before,
  .burgerBar::after{
    display:block;
    width:40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background:white;
    border : none;
  }
  .burgerBar::after{
    transform: translateY(12px);
  }
  .burgerBar::before{
    transform: translateY(-12px);
  }
  .burgerBar::before,
  .burgerBar::after{
    content:"";
    position: absolute;
    left:0;
  }
 .liLink::after{
    content:'';
    display:block;
    margin: 0 auto;
    width:3vw;
    height: 1px;
    background:white;
  }
  .liLink:last-child::after{
    display:none;
  }
  .navbarBurger{
    border:none;
    background:none;
    outline:none;
    position: fixed;
    top:2rem;
    right:1rem;
  }
  .navlink{
    display:block;
    padding:1.5rem;
  }
  .pagesBurger{
    display:flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding:0;
    margin:0;
  }
  .pagesBurger a{
    text-decoration:none; 
    color :white;
  }
