  .burger{
    align-items:center;
    background: #348AA7;
    display: flex;
    flex-direction: column;
    font-size:5vw;
    height: 100%;
    justify-content: center;
    margin:0;
    position: fixed;
    right: 0%;
    width:50%;
    z-index: 99;
  } 
 .liLink::after{
    background:white;
    content:'';
    display:block;
    height: 1px;
    margin: 0 auto;
    width:3vw;
  }
  .liLink:last-child::after{
    display:none;
  }
  .navbarBurger{
    border:none;
    background:none;
    outline:none;
    right:1rem;
    top:2rem;
  }
  .navlink{
    display:block;
    margin:1.5rem;
  }
  .pagesBurger{
    align-items: center;
    display:flex;
    flex-direction: column;
    list-style: none;
    margin:0;
    padding:0;
  }
  .pagesBurger a{
    color :white;
    text-decoration:none; 
  }
  .pagesBurger a:hover{
    text-decoration: underline;
  }
  .selected1 {
    border-bottom: 3px solid #ffffff;
  }
