#btnAppliquer{
  background-color: #348AA7;
  border:none;
  border-radius: 5px;
  color:white;
  cursor: pointer;
  height: 20px;
  margin-left:10px;
  outline: none;
}
.calendrier{
  display: flex;
  justify-content: center;
  margin-top:10px;
  width: 83%;
}
.divCalendar{
  align-items: center;
  background-color:white;
  border:1px solid #348AA7;
  border-radius:10px;
  display:flex;
  flex-direction: row;
  height: 30px;
}
.divCalendrier{
  align-items: center;
  background-color:#f5f7f7;
  border-radius: 5px;
  display:flex;
  flex-direction: row;
  height:40px;
  justify-content: center;
  padding-left:10px;
  width:50%;
}
.divCalendrier p {
  align-items: center;
  color:#0C75B7;
  display:flex;
  font-size:15px;
  font-weight: 900;
  margin-right:10px;
}
#firstCalendar, 
#secondCalendar{
  border:none;
  box-shadow:none;
  cursor: pointer;
  margin-right:5px;
  margin-left:5px;
  outline:none;
  width:75px;
}
#imgCal{
  height: 15px;
  margin-right:5px;
}

@media (max-width: 1000px){
  .divCalendrier{
    background:none;
  }
  #titreCalendar{
  display:none
}
}
@media (max-width: 600px) {
  .divCalendar{
    align-items: center;
    background-color:white;
    border:1px solid #348AA7;
    border-radius:10px;
    display:flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
  }
  .divCalendrier{
    align-items: center;
    background:none;
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  #titreCalendar{
    display: none;
  }
}
