.events{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: auto;
  padding-bottom:20px;
  
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  padding: 1.3rem;
  z-index: 55555;
  flex-wrap:wrap;

}
.card p {
  margin: 0px;
  padding: 0px;
}
.card span {
  white-space: nowrap;
}
#insured1,#insured2,#insured3,#insured4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 10px;
  border-radius: 20px;
  /* overflow: scroll; */
  min-height: 0;
  /* max-height: 300px; */
}
#insured1{
  background-color: #219EBC;
}
#insured2{
  background-color: #FCBF49;
}
#insured3{
  background-color: #71B340;
}
#insured4{
  background-color: #7EA8BE;
}
.link{
  display: flex;
  justify-content: center;
  width: 100%;
}

.notificationICon {
  position: relative;
  display: inline-block;
  width: 100%;
}

.notificationICon .badge {
  animation: jello-horizontal 0.9s 1 both;
  position: absolute;
  justify-content: center;
  top: -10px;
  left: 91%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background: #D62828;
  border: 2px solid #A3BDCE ;
  color: white;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.nomAssure{
  font-weight: 300;
}

@media (max-width: 600px) {
  #insured1,#insured2,#insured3,#insured4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px;
    border-radius: 20px;
    /* overflow: scroll; */
    min-height: 0;
    /* max-height: 300px; */
  }
}