.events{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  margin: 20px;
  background-color: white;
  padding: 1.3rem;
  z-index: 55555;
  flex-wrap:wrap
}
.card p {
  margin: 0px;
  padding: 0px;
}
.card span {
  white-space: nowrap;
}
#insured1,#insured2,#insured3,#insured4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
#insured1{
  background-color: rgb(13, 219, 185);
  border-radius: 20px;
}
#insured2{
  background-color: rgb(223, 208, 5);
  border-radius: 20px;
}
#insured3{
  background-color: rgb(216, 69, 69);
  border-radius: 20px;
}
#insured4{
  background-color: rgb(214, 95, 204);
  border-radius: 20px;
}
.link{
  display: flex;
  justify-content: center;
  width: 100%;
}
