.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 50px;
  width: auto;
}

.logoUser {
  height: 30px;
  width: 30px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
}

.navIcon {
  margin-bottom: 40px;
  margin-left: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  padding-right:10px;
}

.iconNavbar {
  width: 25px;
}

.iconBtn {
  padding-bottom: 5px;
  overflow: hidden;
  border: none;
  background: none;
  display: flex;
  width: auto;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #4472C4;
}

.selected {
  border-bottom: 3px solid #4472C4;
}

@media (max-width: 600px) {
  .navIcon {
    margin-bottom: 40px;
    margin-left: 10px;
    width: 95%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
  }
}