.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.logo {
  height: 50px;
  width: auto;
}
.logoUser {
  height: 30px;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  width: 30px;
}
.navIcon {
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-top: 10px;
  padding-right:10px;
  width: 80%;
}
.iconNavbar {
  width: 25px;
}
.iconBtn {
  align-items: center;
  background: none;
  border: none;
  color: #4472C4;
  cursor: pointer;
  display: flex;
  outline: none;
  overflow: hidden;
  padding-bottom: 5px;
  text-decoration: none;
  width: auto;
}
.selected {
  border-bottom: 3px solid #4472C4;
}
@media (max-width: 600px) {
  .navIcon {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-top: 10px;
    width: 95%;
  }
}
