#navAdmin {
  background: white;
  width: 100%;
}
.navAdmin a {
  text-decoration: none;
}
.navAdmin li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a3bdce;
  border: 1px solid #000000;
  height : auto;
  width: 120px;
  padding: 3px;
}
.navAdmin ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
