/* 
.navicon{
  margin-bottom:40px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconNavbar{
  width:25px;
}
.iconBtn{
  padding-bottom:5px;
  overflow: hidden;
  border:none;
  background:none;
  display: flex;
  width:auto;
  align-items: center;
  outline:none;
  cursor: pointer;
  text-decoration: none;
  color:#4472C4;
}

.selected{
  border-bottom: 3px solid #4472C4;
} */
