.barGreen {
  background-color:white;
  height: auto;
  padding: 5px;
  margin: 5px;
  width: 100%;
  justify-content: center;
}


.barRed {
  background-color:red;
  height: 5vh;
  width: 1vh;
  justify-content: left;
}

.dateRemboursement {
  text-align: right; 
  color: red
}
