.analyse{
  height: 500px
}
.bar{
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-top: 15px;
  padding: 10px;
  position: relative;
  width: 90%;
}
.label {
  left:0;
  position: absolute;
  top: 0;
}
.title{
  color:#003049;
  font-weight: bolder;
  margin: 0;
  position: relative;
}