#bonjourElan{
  display: flex;
  font-size: 40px;
  font-weight: bolder;
  justify-content: flex-start;
  text-align: left;
}
.messageWelcome{
  margin-bottom: 10px;
  margin-top:20px;
  width:90%;
}
#vosRemboursement{
  align-items: center;
  background-color:#348AA7;
  color:white;
  display: flex;
  font-size:20px;
  font-weight:bolder;
  height:35px;
  justify-content: space-around;
  margin-right: 10px;
  margin-top:70px;
  width:100%;
}
#welcomeElan{
  display:flex;
  font-weight: lighter;
  justify-content: flex-start;
  text-decoration: underline 4px #348AA7;
}
#whiteCal{
  cursor: pointer;
  height:25px;
  margin-right:10px;
}
